<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>rootsolutions</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CandidateRegistration</display-name>
    <servlet-name>CandidateRegistration</servlet-name>
    <servlet-class>com.rootsolutions.CandidateRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateRegistration</servlet-name>
    <url-pattern>/CandidateRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateLogin</display-name>
    <servlet-name>CandidateLogin</servlet-name>
    <servlet-class>com.rootsolutions.CandidateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateLogin</servlet-name>
    <url-pattern>/CandidateLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateLoginDao</display-name>
    <servlet-name>CandidateLoginDao</servlet-name>
    <servlet-class>com.rootsolutions.CandidateLoginDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateLoginDao</servlet-name>
    <url-pattern>/CandidateLoginDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalRegistrater</display-name>
    <servlet-name>HospitalRegistrater</servlet-name>
    <servlet-class>com.rootsolutions.HospitalRegistrater</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalRegistrater</servlet-name>
    <url-pattern>/HospitalRegistrater</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalRegister</display-name>
    <servlet-name>HospitalRegister</servlet-name>
    <servlet-class>com.rootsolutions.HospitalRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalRegister</servlet-name>
    <url-pattern>/HospitalRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientRegistration</display-name>
    <servlet-name>PatientRegistration</servlet-name>
    <servlet-class>com.rootsolutions.PatientRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegistration</servlet-name>
    <url-pattern>/PatientRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientForm</display-name>
    <servlet-name>PatientForm</servlet-name>
    <servlet-class>com.rootsolutions.PatientForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientForm</servlet-name>
    <url-pattern>/PatientForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnHome</display-name>
    <servlet-name>ReturnHome</servlet-name>
    <servlet-class>com.rootsolutions.ReturnHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnHome</servlet-name>
    <url-pattern>/ReturnHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDetails</display-name>
    <servlet-name>SearchDetails</servlet-name>
    <servlet-class>com.rootsolutions.SearchDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDetails</servlet-name>
    <url-pattern>/SearchDetails</url-pattern>
  </servlet-mapping>
</web-app>